@import "../../../styles/variables";

.messenger {
  display: grid;
  grid-template: auto 1fr / minmax(400px, 1fr) 230px;
  grid-template-areas:
        "content aside"
        "content x";
  gap: 10px;
}

.content {
  grid-area: content;

  @include field();

  display: grid;
  grid-template: 1fr auto / 1fr;
  grid-template-areas:
        "messages"
        "submit";
  gap: 10px;
}
