.sidebar {
  a, span {
    cursor: pointer;
    display: block;
    color: var(--grey-text);
    line-height: 30px;
    &:hover {
      color: #000000;
    }
    &.active {
      color: #000000;
    }
  }
}
