.form {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  width: 50%;

  div {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    margin: 20px;

    p {
      margin: 0;
    }

    input {
      border: 1px solid rgba($color: rgb(0, 0, 0), $alpha: 0.1);
      border-radius: 7px;
      padding: 12px;
    }

    span {
      color: var(--liked-red);
      font-weight: 700;
    }
  }

  button {
    grid-column: 1 / 2;
    justify-self: center;
  }
}
