@import "../../../../../styles/variables";

.user {
  height: min-content;
  display: grid;
  grid-template: 1fr auto / auto 1fr;
  grid-template-areas:
    "avatar box"
    "avatar button";
  gap: 10px 20px;
}

.avatar {
  grid-area: avatar;

  margin: 0 10px;
  width: 96px;
  height: 96px;

  img {
    border-radius: 50%;
  }

  @include adaptIMG();
}

.box {
  grid-area: box;
  justify-self: start;

  display: grid;
  grid-template-areas:
    "name"
    "status";
  gap: 10px;
}

.name {
  grid-area: name;
}
