.field {
  border: 0;
  border-radius: 3px;
  color: var(--text-primary);
  outline: 1px solid var(--blue-bubble);
  padding: 5px 30px 5px 10px;
  transition: all 0.4s;

  &::placeholder {
    color: var(--grey-text);
  }

  &:focus {
    border: 0;
    outline: 1px solid var(--blue-hover);
  }

  &__border-disable {
    outline: 0;

    &:focus {
      outline: 0;
    }
  }

  &__input {
    align-items: center;
    display: flex;
    padding-right: 22px;
  }

  &__error {
    outline: 1px solid var(--danger-basic);

    &_caption {
      color: var(--liked-red);
      font-size: 0.5em;
      margin: 0 2px;
      padding: 0;
    }

    &:focus {
      outline: 1px solid var(--liked-red);
    }
  }
}
