@import "../../../../../../variables.scss";

.status {
    margin: -10px 0 10px;
}
.input {
    width: max-content;
    max-width: 90%;
    padding: 10px;
    margin: -5px;
    margin-left: -10px;
    // padding-left: 5px;
    &:focus,
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}