@import "../../../styles/variables";

.login {
  @include field();
  form {
    @include form();
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    width: 50%;
    div {
      display: grid;
      grid-template: repeat(2, auto) / repeat(2, auto);
      margin: 20px;
      p {
        margin: 0;
      }
      input {
        @include field();
      }
      span {
        color: $liked-red;
        font-weight: 700;
      }
    }
    button {
      grid-column: 1 / 2;
      justify-self: center;
    }
  }
}
