@import "../../../variables.scss";

.container {
    @include container();
    display: grid;
    grid-template: 1fr / minmax(164px, auto) 1fr;
    gap: 10px;
}

.menu {
    @include field();
    a {
        @include navbar();
        &:last-child {
            border-top: 1px solid rgba(#000000, 0.1);
            margin: 5px 0 0 0;
        }
    }
}
