.messenger {
  &__content {
    width: 100%;
    height: max-content;
  }

  &__messages {
    min-height: calc(100vh - 58px - 98px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
  }

  &__submit {
    padding-top: 10px;
    bottom: 0;
    position: sticky;
  }
}

.message {
  max-width: 85%;
  word-wrap: break-word;

  &__to {
    align-self: flex-end;
  }

  &__from {
    align-self: flex-start;
  }
}
