.button {
  border-radius: 7px;
  color: var(--white);
  background-color: var(--blue);
  padding: 7px 15px;

  &:active:not(:disabled) {
    transform: scale(0.9);
  }

  &:hover {
    background-color: var(--blue-hover);
  }

  &:disabled {
    background-color: var(--grey-text);
  }
}
