.button {
  display: inline-block;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--blue);
  padding: 3px 15px;
  width: min-content;

  &:hover {
    background-color: var(--blue-hover);
  }

  &:disabled {
    background-color: var(--grey-text);
  }
}
