@import "../../../../../styles/variables";

.info {
  grid-area: contacts;
  font-size: 0.8em;
  line-height: 1.5em;

  .subtitle {
    color: black;
  }

  a {
    color: $grey-text;

    &:hover {
      color: #000000;
    }
  }

  div {
    color: $grey-text;

    display: grid;
    grid-template: 1fr / 200px 1fr;
  }

  input {
    background-color: $grey-field;
    margin: 3px 0;
    width: 200px;
  }
}
