@import "../../../../../styles/variables.scss";

.info {
    grid-area: info;
    &:first-child {
        margin: 0 0 300px 0;
    }
    font-size: 0.8em;
    line-height: 1.5em;
    a {
        color: $grey-text;
        &:hover {
            color: #000000;
        }
    }
    div {
        color: $grey-text;

        display: grid;
        grid-template: 1fr / 150px 1fr;
    }
}
