@import "../../../styles/variables.scss";

.large {
    grid-area: avatar;

    width: 160px;
    height: 160px;

    @include adaptIMG();
}
.medium {
    grid-area: avatar;

    width: 96px;
    height: 96px;

    img {
        border-radius: 50%;
    }
    @include adaptIMG();
}
.small {
    grid-area: avatar;

    width: 64px;
    height: 64px;

    img {
        border-radius: 50%;
    }
    @include adaptIMG();
}
.login {
    width: 40px;
    height: 40px;

    img {
        border-radius: 50%;
    }
    @include adaptIMG();
}
