@import "../../../../../../../variables.scss";

.footer {
    grid-area: footer;

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    padding: 10px 0 0 0;

    display: grid;
    grid-template: 1fr / auto 1fr;
    align-items: center;
    gap: 10px;

    span {
        cursor: pointer;
        color: $gray-text;
        font-size: 1.4em;
        &:hover {
            color: $liked-red;
        }
    }
}
.likes {
    color: $gray-text;
}
