@import "../../../styles/variables";

.field {
  border: 1px solid rgba($color: rgb(0, 0, 0), $alpha: 0.1);
  border-radius: 7px;
  padding: 12px;
  background-color: white;
  box-sizing: border-box;
}