@import "../../../styles/variables";

.button {
  grid-area: button;

  @include field();

  color: #ffffff;
  background-color: $blue;

  cursor: pointer;
  padding: 5px 0;
  width: 100px;

  &:hover {
    background-color: rgba($blue, 0.9);
  }

  &:disabled {
    background-color: $grey-text;
  }
}
