.friends {
  display: flex;
  gap: 10px;

  &__content {
    width: 640px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__users {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__paginator {
    min-width: 164px;
    height: min-content;
    position: sticky;
    top: 58px;
  }
}
