.form {
  max-height: 64px;
  display: grid;
  grid-template: 1fr / 1fr auto;
  grid-template-areas: "input button";
  gap: 20px;

  &__input {
    border-radius: 5px;
    margin: -10px;
    padding: 10px;

    &:focus,
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__button {
    margin: -8px;
  }
}
