.messenger {
  display: flex;
  gap: 10px;
  height: calc(100vh - 60px);
  max-height: 1920px;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__correspondence {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    height: 100%;
  }

  &__message {
    max-width: 85%;
    word-wrap: break-word;

    &_to {
      margin-left: auto !important;
    }

    &_from {
      margin-right: auto !important;
    }
  }

  &__submit {
    height: min-content;
  }

  &__aside {
    align-self: flex-start;
    width: 300px;
  }
}