.messenger {
  display: flex;
  gap: 10px;

  &__content {
    width: 100%;
    min-width: 360px;
    min-height: calc(100vh - 58px - 74px);
  }

  &__correspondence {
    height: 100%;
  }


  &__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
  }

  &__message {
    max-width: 85%;
    word-wrap: break-word;

    &_to {
      margin-left: auto !important;
    }

    &_from {
      margin-right: auto !important;
    }
  }

  &__submit {
    padding-top: 10px;
    bottom: 0;
    position: sticky;
  }

  &__sidebar {
    min-width: 220px;
    height: min-content;
    position: sticky;
    top: 58px;
  }
}
