@import "../../../../styles/variables";

.wall {
  display: grid;
  grid-template: auto auto 1fr / 1fr;
  grid-template-areas:
    "submit"
    "title"
    "posts";

  > div:first-child {
    @include field();
    margin-bottom: 10px;
  }
}

.submit {
  @include field();
}
