.wrapper {
    min-height: 100vh;

    display: grid;
    grid-template-rows: 48px 1fr auto;
    gap: 10px;
}
.container {
    max-width: 990px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
