@import "../../../../../variables.scss";

.message {
    @include field();
    max-width: 85%;
    width: max-content;
    word-wrap: break-word;
    margin-bottom: 5px;
    &.from {
        background-color: $blue-bubble;
        margin-right:auto;
    }
    &.to {
        background-color: $grey-field;
        margin-left:auto;
    }
}
