.paginator {
  display: flex;
  flex-direction: column;
  gap: 10px;

  a, span {
    cursor: pointer;
    color: var(--grey-text);
    &:hover {
      color: var(--black);
    }
    &.active {
      color: var(--black);
    }
  }
}
