.info {
  min-width: 450px;

  &__subtitle {
    color: black;
  }

  &__item {
    display: flex;
    font-size: 0.8em;
    line-height: 1.5em;
    color: var(--grey-text);
  }

  &__property {
    flex: 0 0 200px;
  }

  &__value {
    flex: 1 1 auto;
  }

  &__input {
    background-color: var(--field);
    margin: 3px 0;
  }

  &__button {
    margin-top: 10px;
  }
}
