.field {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  padding: 12px;
  box-sizing: border-box;

  &_color_white {
    background-color: var(--white);
  }

  &_color_grey {
    background-color: var(--grey-field);
  }
}
