@import-normalize;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;

  font-size: 18px;
  line-height: 1em;
  background-color: #e8e8f0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1.2em;
  line-height: 1em;
  font-weight: normal;
}
ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
input {
  border: none;
  outline: none;
  background-color: inherit;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 48px 1fr;
  gap: 10px;
}