@mixin container {
  background-color: #c42929;
  width: 990px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
@mixin field {
  background-color: #ffffff;
  border: 1px solid rgba($color: rgb(0, 0, 0), $alpha: 0.1);
  border-radius: 7px;
  padding: 12px;
}
@mixin adaptIMG {
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@mixin navbar {
  display: block;
  color: $gray-text;
  line-height: 30px;
  &:hover {
    color: #000000;
  }
  &.active {
    color: #000000;
  }
}
$main-blue: #414c9b;
$gray-text: #6d6d6d;
$footer-color: #9e9e9e;
$liked-red: #c42929;
