@import "../../../../variables.scss";

.message {
    @include field();
    width: max-content;
    &.from {
        background-color: $grey-field;
        margin-right:auto;
    }
    &.to {
        margin-left:auto;
    }
}
