@import "../../../styles/variables";

.sidebar {
  grid-area: aside;

  @include field();

  a, span {
    @include navbar();

    &:first-child {
      border-bottom: 1px solid rgba(#000000, 0.1);
      margin: 0 0 5px;
    }

    &:last-child {
      border-top: 1px solid rgba(#000000, 0.1);
      margin: 5px 0 0;
    }
  }
}
