@import "../../../styles/variables.scss";

.auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        color: $grey-field;
        font-weight: 700;
        margin: 0 10px;
    }
}
